/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #4070f4;
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #e7f2fd;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}

canvas {
  border: 7px solid grey;
}
/*
div {
  margin: 20px;
  padding: 10px 20px;
  border: 5px solid grey;
}*/

.div1 {
  margin: 20px;
  padding: 10px 10px;
  border: 6px solid black;
  min-height: 50px;
}

.div {
  margin: 20px;
  padding: 10px 10px;
  border: 6px solid black;
  min-height: 50px;
}

.btn {
  height: 60px;
  width: 300px;
  display: inline-block;
  background: #484d52;
  color: #fff;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 10px;

}

.exit {
  position: absolute;
  top: 100px;
  right: 10px;
}

.exit1 {

  background-color: rgb(149, 185, 174);
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.exit1:hover{
  background-color: rgb(45, 50, 49);
}

.exit1:active {
  background-color: maroon;
}

  /* Style for the button */
  button {
    background-color: rgb(149, 185, 174);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  /* Style for the button when hovered over */
  button:hover {
    background-color:   rgb(45, 50, 49);
    ;
  }
  
  /* Style for the button when it's clicked */
  button:active {
    background-color: maroon;
  }
  
  
  
  select option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: #800000;
    padding: 5px 10px;
  }
  
  h7 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #f3f3f3;
    background-color:black;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  #myFrame {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(255, 2, 2);
  }


